

html {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;

  background: #F0F0F0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.iPodContainer{
  margin: 0 auto;
  width: 25vw;
  height: 50vw;
  
}
.iPod{
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 25.25vw;
  height: 41vw;
  border-radius: 2vw;
  box-shadow: var(--shadow-elevation-high);        

}

.screen{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vw;
  left: 0;
  right: 0;
  text-align: center;  
width: 17vw;
height: 13.28vw;

background: linear-gradient(138.97deg, rgba(255, 255, 255, 0) 23.27%, rgba(245, 243, 233, 0.6) 98.19%), linear-gradient(56.46deg, #A09B8C 0%, #BAB7B0 100%);
opacity: 0.9;
box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), inset 0px -1px 3px rgba(0, 0, 0, 0.35), inset 0px 1px 7px rgba(0, 0, 0, 0.65);
border-radius: 7px;
}
h1 {
  text-align: center;
}

:root {
  --shadow-color: 0deg 0% 68%;
  --shadow-elevation-low:
    1px 0px 1.1px hsl(var(--shadow-color) / 0),
    3.3px 0px 4.9px hsl(var(--shadow-color) / 0.33);
    --shadow-elevation-medium:
    0.4px 0.7px 0.9px hsl(var(--shadow-color) / 0.41),
    1.4px 2.1px 2.7px -0.9px hsl(var(--shadow-color) / 0.39),
    3.6px 5.5px 7.1px -1.9px hsl(var(--shadow-color) / 0.36),
    8.9px 13.7px 17.5px -2.8px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-high:
    0.1px 0.1px 0.1px hsl(var(--shadow-color) / 1),
    1.5px 1.5px 2px -1.9px hsl(var(--shadow-color) / 0.88),
    8.5px 8.1px 11px -3.7px hsl(var(--shadow-color) / 0.63);
}

.scene {
  height: 113.21vw;
  width: 95vw;
  perspective: 1000px;
  
  margin-right: 5vw;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  box-shadow: var(--shadow-elevation-medium);


}

.page {
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s 0.5s;
  transform-style: preserve-3d;
  transform-origin: left center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  


}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  box-sizing: border-box;
  background-size:     contain;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */

}

#cover{
  background-image: url(./visuals/cover.svg);

}
#pg1{
  background-image: url(./visuals/pg1.svg);

}

@keyframes pageFlipBack{
  5% {
    box-shadow: var(--shadow-elevation-low);

  }

  50% {
    box-shadow: var(--shadow-elevation-low);

  }

  60% {
    box-shadow: var(--shadow-elevation-medium);
  }
}
@keyframes pageFlip {
  5% {
    box-shadow: var(--shadow-elevation-low);

  }

  50% {
    box-shadow: var(--shadow-elevation-low);

  }

  100% {
    box-shadow: none;

  }
}


.page.active {
  transform: rotateY(0deg);
  transition: 1.1s transform;
  z-index: 1;
  /*animation: pageFlipBack 1.1s;*/
}

.page.flipDown{
  animation: pageFlipBack 1.1s;
}

.page.flipped {
  transform: rotateY(-90deg);
  transition: 1.1s transform;
  z-index: 2;
  animation: pageFlip 1.1s;
  
}

.active~.page {
  opacity: 0;
}







/* added for the buttons */

#next {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 50%;
  z-index: 101;
  background: transparent;
  border: transparent;
}

#prev {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 50%;
  z-index: 100;
  background: transparent;
  border: transparent;

}

#controls {
  height: inherit;
  width: inherit;
  position: absolute;
  display: flex;
  justify-content: space-between;

}